

<div>
  <div>
    <h2><%=section_title%></h2>
  </div>

  <ul>
    <% menus.each do |menu| %>
      <form>
        <input type="checkbox" class="menu_checkbox"><%=menu.name%>
      </form>
      <p>[<%=menu.description%> - Rs.<%=menu.price%>]</p>
    <%end%>
  </ul>
</div>
