<h3 class="Home-title">Welcome!!!<h3>

<!--<p><i>Already a user? </i><a href="http://localhost:3000/users/new">Sign Up</a></p>-->
<p class="Home-authenticate"><i>New user?</i> <%= link_to "Sign Up", new_user_path %></p>

<!--<p><i>Already a user? </i><a href="http://localhost:3000/signin">Sign in</a></p>-->
<p class="Home-authenticate"><i>Existing user?</i> <%= link_to "Sign-in", new_sessions_path%></p>
